:root {
  --trooperImage : url('./PNG/Hulls_Color_D/Hull_01.png');
}

div{
    border: black 1px solid;
}

* {
    box-sizing: border-box;
  }
  
.grid {
    display: flex;
    height: 800px;
    width: 800px;
    flex-wrap: wrap;
    box-sizing: content-box; 
  }

.cell {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

#testCell {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  /* animation: explosionAnimation 1s infinite; */
  background-image: var(--trooperImage);
  background-size: contain;
}

.explosion {
  animation: explosionAnimation 1s infinite;
  /* background-image: url(./PNG/Effects/Flame_A.png); */
  background-size: contain;
}

/* @keyframes explosionAnimation {
  0% { 
    background-image: url(./PNG/Effects/Flash_A_01.png),inherit;
  }
  25% { 
    background-image: url(./PNG/Effects/Flash_A_02.png),inherit;
  }
  50% { 
    background-image: url(./PNG/Effects/Flash_A_03.png),inherit;
  }
  75% { 
    background-image: url(./PNG/Effects/Flash_A_04.png),inherit;
  }
  100% {
    background-image: url(./PNG/Effects/Flash_A_05.png),inherit;
  }
} */

@keyframes explosionAnimation {
  0% { 
    background-image: inherit,url(./PNG/Effects/Flash_A_01.png);
  }
  25% { 
    background-image: inherit,url(./PNG/Effects/Flash_A_02.png);
  }
  50% { 
    background-image: inherit,url(./PNG/Effects/Flash_A_03.png);
  }
  75% { 
    background-image: inherit,url(./PNG/Effects/Flash_A_04.png);
  }
  100% {
    background-image: inherit,url(./PNG/Effects/Flash_A_05.png);
  }
}

.blueTrooper1{
  background-image: url('./PNG/Hulls_Color_D/Hull_01.png');
  background-size: contain;
}

.blueTrooper2{
  background-image: url('./PNG/Hulls_Color_D/Hull_02.png');
  background-size: contain;
}

.redTrooper1{
  background-image: url('./PNG/Hulls_Color_A/Hull_01.png');
  background-size: contain;
}

.redTrooper2{
  background-image: url('./PNG/Hulls_Color_A/Hull_02.png');
  background-size: contain;
}

.highlightMove{
  background-color: aqua;
}

.highlightFire{
  background-color: rgb(240, 147, 61);
}