
* {
  box-sizing: border-box;
}

div{
    border: black 1px solid;
}

  
.grid {
    display: flex;
    height: 800px;
    width: 800px;
    flex-wrap: wrap;
    box-sizing: content-box; 
  }

.container{
  border: 1px solid black;
  width: 80px;
  height: 80px;
  --image: url();

}

/* .containerBlueTrooper1{
  --trooperImage : url('./PNG/Hulls_Color_D/Hull_01.png');
} */


.cell{
  border: 1px solid red;
  width: 100%;
  height: 100%;
  background-image: var(--image);
  background-size: contain;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

#testCell {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  /* animation: explosionAnimation 1s infinite; */
  /* background-image: var(--image);
  background-size: contain; */
}

.explosion {
  animation: explosionAnimation 1s 1;
  /* background-image: url(./PNG/Effects/Flame_A.png); */
  background-size: contain;
}

/* @keyframes explosionAnimation {
  0% { 
    background-image: url(./PNG/Effects/Flash_A_01.png),inherit;
  }
  25% { 
    background-image: url(./PNG/Effects/Flash_A_02.png),inherit;
  }
  50% { 
    background-image: url(./PNG/Effects/Flash_A_03.png),inherit;
  }
  75% { 
    background-image: url(./PNG/Effects/Flash_A_04.png),inherit;
  }
  100% {
    background-image: url(./PNG/Effects/Flash_A_05.png),inherit;
  }
} */

@keyframes explosionAnimation {
  0% { 
    background-image: url(./PNG/Effects/Flash_A_01.png),var(--image);
  }
  25% { 
    background-image: url(./PNG/Effects/Flash_A_02.png),var(--image);
  }
  50% { 
    background-image: url(./PNG/Effects/Flash_A_03.png),var(--image);
  }
  75% { 
    background-image: url(./PNG/Effects/Flash_A_04.png),var(--image);
  }
  100% {
    background-image: url(./PNG/Effects/Flash_A_05.png),var(--image);
  }
}

.blueTrooper1{
  --image: url('./PNG/Hulls_Color_D/Hull_01.png');
  background-size: contain;
}

.blueTrooper2{
  --image: url('./PNG/Hulls_Color_D/Hull_02.png');
  background-size: contain;
}

.redTrooper1{
  --image: url('./PNG/Hulls_Color_A/Hull_01.png');
  background-size: contain;
}

.redTrooper2{
  --image: url('./PNG/Hulls_Color_A/Hull_02.png');
  background-size: contain;
}

.highlightMove{
  background-color: aqua;
}

.highlightFire{
  background-color: rgb(240, 147, 61);
}